<h1>Welcome to LasLabs</h1>
<hr />
<p>There is not much to find here at the moment, because this site is under construction.</p>
<p>There may be a few links up top that you will find useful, or you could visit our <%= link_to 'Blog', 'https://blog.laslabs.com' %>.</p>